<!doctype html>
<html ng-app>
<head>
    <script src="http://code.angularjs.org/angular-1.0.0rc11.min.js"></script>
</head>
<body>
<script>
function AlbumCtrl($scope,$timeout) {
    $scope.counter = 0;
    $scope.onTimeout = function(){
        $scope.counter++;
        mytimeout = $timeout($scope.onTimeout,1000);
    }
    var mytimeout = $timeout($scope.onTimeout,1000);
    
    $scope.stop = function(){
        $timeout.cancel(mytimeout);
    }
	
        $scope.restart = function(){
         mytimeout = $timeout($scope.onTimeout,1000);
    }
                   
} 

</script>
<div ng-controller="AlbumCtrl">
{{counter}}
    <button ng-click="stop()">Stop</button>
	<button ng-click="restart()">restart</button> 
	
</div>
</body>
</html>